<div class="card shadow">
  <div class="card-header">
    <h4>
      Course
    </h4>
  </div>
  <div class="card-body">
  
    <b>User:</b>
    <%= @course.user %>
    <br>
  
    <b>Classroom:</b>
    <%= @course.classroom %>
    <br>
  
    <b>Service:</b>
    <%= @course.service %>
    <br>
  
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
